.alert-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-top: 20px;
}
.alert-item {
    margin: 10;
    width: 50%;
    height: 50%;
}

span {
    font-size: 20px;
}

