/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
